
@{
    ViewData["Title"] = "Index";
}
@model Sol_Demo.Models.CacheModel

<h1>Index</h1>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h4>Current Date Time : @Model.CurrentDateTime</h4>
        </div>
        <div class="col-6">
            <h4>Cache Date Time : @Model.CacheDateTime</h4>
        </div>
    </div>
</div>
